<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>raydee99.com | <%= current_page.data.fetch('title', 'Video Game Music Composer') %></title>

  <link rel="canonical" href="https://www.raydee99.com/">
  <meta property="og:url" content="https://www.raydee99.com/">
  <meta property="og:type" content="website">
  <meta name="description" content="Meet Raydee99, a video game music composer and TTRPG creator! View his portfolio in music compositions, games, and podcasts.">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Raydee99's Portfolio",
      "url": "https://www.raydee99.com"
    }
  </script>

  <%= stylesheet_link_tag 'bootstrap_vapor_theme.css' %>
  <%= stylesheet_link_tag 'Lato.css' %>
  <%= stylesheet_link_tag 'Navbar-Right-Links-icons.css' %>
  <%= stylesheet_link_tag 'Projects-Grid-images.css' %>
  <%= stylesheet_link_tag 'styles.css' %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <% if content_for?(:layout_head) %>
    <%= yield_content :layout_head %>
  <% end %>

  <% if content_for?(:head) %>
    <%= yield_content :head %>
  <% end %>
</head>

<body>
  <noscript>
    <%= partial 'shared/alert', locals: {type: 'danger', label: 'Warning',  message: 'Javascript is disabled so site functionality is limited. Please enable Javascript.'} %>
  </noscript>
  <% if config[:development] %>
    <div class="drop-in">
      <%= partial 'shared/alert', locals: {type: 'warning', label: 'Warning', message: 'This website is under development.'} %>
    </div>
  <% end %>

  <!-- Start: Navbar -->
  <% if content_for?(:nav) %>
    <%= yield_content :nav %>
  <% else %>
    <%= partial 'shared/navbar' %>
  <% end %>
  <!-- End: Navbar -->

  <!-- Start: Main -->
  <%= yield %>
  <!-- End: Main -->

  <!-- Start: Footer Basic -->
  <% if content_for?(:footer) %>
    <%= yield_content :footer %>
  <% else %>
    <%= partial 'shared/footer' %>
  <% end %>
  <!-- End: Footer Basic -->

  <%= javascript_include_tag 'bundle' %>
  <% if content_for?(:scripts) %>
    <%= yield_content :scripts %>
  <% end %>
</body>
</html>
