<%# _game.erb %>
<%# @param title [String] %>
<%# @param image [String] - base file name of image, including extension, with H x W ratio of 500 x 650 %>
<%# @param url [String] - link to game %>
<%# @param description [String] %>

<div class="col">
  <a href="<%= url %>" rel="external" target="_blank" title="Play <%= title %>" class="text-decoration-none d-flex justify-content-center">
    <div class="card h-100 bg-body bg-opacity-75" style="max-width: 292.5px;">
      <img src="<%= image_path(image) %>"
           class="card-img-top"
           style="height:225px"
           alt="An image named <%= image %> for the game <%= title %>."
      />
      <div class="card-body text-center">
        <p class="card-text">
          <%= description %>
        </p>
      </div>
    </div>
  </a>
</div>

