<%# _game.erb %>
<%# @param title [String] %>
<%# @param image [String] - base file name %>
<%# @param description [String] %>

<div class="col">
  <div>
    <img class="rounded img-fluid d-block w-100 fit-contain" style="height: 200px;" src="<%= image_path(image) %>" alt="An image named <%= image %> for the game <%= title %>.">
    <div class="py-4">
      <h4><%= title %></h4>
      <p><%= description %></p>
    </div>
  </div>
</div>

