<%# _game.erb %>
<%# @param title [String] %>
<%# @param image [String] - base file name of image, including extension, with H x W ratio of 500 x 650 %>
<%# @param url [String] - link to game %>
<%# @param description [String] %>

<div class="col">
  <div class="d-flex justify-content-center">
    <a href="<%= url %>" rel="external" target="_blank" title="Play <%= title %>">
      <img class="rounded img-fluid d-block w-100 fit-contain"
           style="height: 225px; max-width:292.5px;"
           src="<%= image_path(image) %>"
           alt="An image named <%= image %> for the game <%= title %>.">
    </a>
  </div>
  <div class="text-center py-4">
    <%= description %>
  </div>
</div>

