<%# _podcast.erb %>
<%# TODO params %>

<div class="col">
  <div class="d-flex flex-column flex-lg-row">
    <div class="w-100">
      <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="<%= image_path(image) %>" alt="An image named <%= image %> for the podcast <%= title %>.">
    </div>
    <div class="py-4 py-lg-0 px-lg-4">
      <h4><%= title %></h4>
      <p>
        <%= description %>
      </p>
    </div>
  </div>
</div>
